input.call-picker {
  text-transform: uppercase;
  float: left;
  outline: none;
  height: 3rem;
  width: 90%;
  margin-bottom: .5rem;
}

body{
  touch-action: none;
  overflow: hidden;

}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
}

header h1{
  margin: 0;
  padding: 0;
}
header label{
  width: 32px;
  cursor: pointer;
  color: #fff;
}
header label:hover{
  color: rgba(255, 255, 255, 0.678);
}

.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  overflow: hidden;
}

/* Checkbox hack to toggle nav visibility */
#toggle:checked ~ nav {
  margin-left: -15em;
}
#toggle ~ nav {
  margin-left: 0;
}

#canvas {
  flex: 1;
  max-width: 960px;
}

input.stroke_width_picker {
  border: 1px solid #AAA;
  color: #666;
  text-transform: uppercase;
  float: left;
  outline: none;
  height: 3rem;
  width: 90%;
  margin-bottom: .5rem;
}

p {
  margin-top: 1rem;
  margin-bottom: .5rem;
  color: #DDD;
}

button {
  height: 3rem;
  width: 90%;
  margin-right: 10px;
}

html, body {
  height: 100%;
  background-color: #373d55;
  display: block
}
